*  { 
    margin      : 0 auto;
    padding     : 0 auto;
    box-sizing  : border-box;
}

:root {
    --color-violet  : #BD81F3;
    --color-purple  : #551555;
    --color-white   : #ffffff;
    --color-gray    : #a1a1a1;
    --color-bege    : #C9C9C9;
    --color-black   : #000000;
    --color-form    : #d7d7d7;
}

html {
    scroll-behavior: smooth;
}

body  {
    width       : 480px;
    background-color: #ddd;
    font-family : 'Poppins', sans-serif;
}

a {
    text-decoration : none;
}

/* body header nav{
    display     : none;
} */



#Menu {
    position: absolute;
    left: -300px; 
    transition: 0.5s;
}

#Menu-z {
    position: absolute;
    left: 0px;
    transition: 0.5s;
}

body header nav ul {
    position            : absolute;
    overflow            : hidden;
    width               : 300px;
    top: 70px;
    background-color: violet;
    z-index: 2;
    list-style: none;
    padding: 0px;
    border-radius: 0px 50px 50px 50px;
}

body header nav ul li p {
    position: relative;
    left: 50px;
    top: -27px;
}

body header nav ul li {
    width: 300px;
    padding: 10px 20px;
    padding-left: 32px;
}

body header nav ul li:hover,
body header nav ul li a:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

body header nav ul li:nth-child(5) img {
    padding-left: 6px;
}

/*///////////////////////////////////////////////////////////////////////////////*/

body header {
    height: 70px;
    background-color: var(--color-purple);
}

body header a {
    padding: 0 auto;
}

body header a:nth-child(4) img {
    width: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 130px;
}

body header button:nth-child(5) {
    position: relative;
    display: inline-block;
    top: -35px;
    left: 100px;
    padding: 5px 25px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
} 

#btn1 {
    margin-left: 30px;
    margin-bottom: 26px;
    width: 30px;
    cursor: pointer;
}

#btn1-z {
    display: none;
}

#btn2 {
    display: none;
}

#btn2-z {
    margin-left: 30px;
    margin-bottom: 26px;
    width: 30px;
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////////////////*/

body main:nth-child(2) form:first-child {
    margin: 50px 30px;
    color: var(--color-form-tx);
}

body main:nth-child(2) form:first-child div:first-child {
    display: flex;
}

body main:nth-child(2) form:first-child div:first-child img:first-child {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

body main:nth-child(2) form:first-child div:first-child h3:nth-child(2) {
    margin: 0px;
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
}

body main:nth-child(2) form:first-child div:nth-child(2) {
    display: flex;
    margin: 10px;
    margin-top: 20px;
}

body main:nth-child(2) form:first-child div:nth-child(2) input[type="radio"] {
    margin: 0px;
    width: 14px;
}

body main:nth-child(2) form:first-child input {
    padding: 15px ;
    padding-left: 20px;
    width: 95%;
    outline: none;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: none;
}


body main:nth-child(2) form:first-child input::placeholder {
    color: var(--color-form-tx);
}

body main:nth-child(2) form:first-child input:nth-child(9) ,
body main:nth-child(2) form:first-child input:nth-child(10) {
    width: 46%;
}

body main:nth-child(2) form:first-child input:nth-child(10) {
    margin-left: 8px;
}

body main:nth-child(2) form:first-child h3:nth-child(11) {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}


body main:nth-child(2) form:first-child div:nth-child(22) {
    display: flex;
}

body main:nth-child(2) form:first-child div:nth-child(22) input:first-child {
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

body main:nth-child(2) form:first-child div:nth-child(22) a:nth-child(2) {
    align-content: center;
    margin-top: 20px;
}

body main:nth-child(2) form:first-child a:nth-child(22) {
    width: 60%;
    padding: 10px 30px;
    margin: 40px 120px;
    border-radius: 25px;
    font-weight: bolder;
    color: var(--color-violet);
    background-color: var(--color-purple);
}

/*///////////////////////////////////////////////////////////////////////////////*/

footer {
    padding: 20px 0px;
    background-color: var(--color-purple);
}

#fo {
    font-size: 20px;
    margin-left: 40%;
    color: var(--color-violet);
    font-family: 'Montserrat', sans-serif;
}

footer address {
    display: flex;
}

footer address div:nth-child(2) img {
    width: 30px;
    height: 30px;
    margin: 20px 20px;
}

footer address div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

footer address div a {
    color: var(--color-violet);
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

footer address div a:first-of-type {
    margin-left: 20px;
}